body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.btn {
	/* background: none; */
	/* border: 0; */
	/* color: #fff; */
}

.chat {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.chat__history {
	color: #fff;
	background-color: #444654;
	flex-grow: 1;
}

.chat__input {
	background-color: #343641;
	padding: 1rem;
}

.chat .prompt-group {
	margin-left: auto;
	margin-right: auto;
	background-color: #40414f;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat .prompt {
	outline: 0;
	border: 0;
	overflow: hidden;
	/* max-width: 200px; */
	resize: none;
	border-radius: 0.5rem;
	width: 30rem;
	/* background-color: #40414f; */
	/* color: #fff; */
}

